<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>

<h1>Oops...That didn't go as expected</h1>

<p>Message:
    <span th:text="${errorMessage}"></span></p>
<p>
    Please try again later or return to the
    <a th:href="@{/}"}>home</a>
    page.
</p>

</body>
</html>